.galery__items {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-gap: 35px;
  column-gap: 35px;
  padding-left: 67px;
  padding-right: 67px;
  padding-top: 20px;
  width: 1024px;
  box-sizing: border-box;
}

.galery__item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  border: 1px solid black;
  text-align: center;
  line-height: 200px;
}

.galery__item2 {
  grid-column: 4 / span 2;
  grid-row: 1;
  justify-self: end;
  height: 100%;
}

.galery__item3 {
  grid-column: 1;
  grid-row: 2;
}

.galery__item4 {
  grid-column: 2;
  grid-row: 2;
}

.galery__item5 {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
  width: 335px;
  height: 448px;
}

.galery__item6 {
  grid-column: 5;
  grid-row: 2;
}

.galery__item7 {
  grid-column: 1 / span 2;
  grid-row: 3;
  width: 335px;
  height: 200px;
}

.galery__item8 {
  grid-column: 5;
  grid-row: 3;
}

.galery__item9 {
  grid-column: 1;
  grid-row: 4;
}

.galery__item10 {
  grid-column: 2;
  grid-row: 4;
}

.galery__item11 {
  grid-column: 3 / span 3;
  grid-row: 4;
  width: 520px;
  height: 200px;
}