

.galery__items * {
  padding: 10px 15px;
  background-color: blanchedalmond;
  /* border: 1px solid gray; */
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
  /* color: black; */
}

.galery__items {
    display: flex;
    display: grid;
    grid-template: repeat(6, 200) / repeat(5, 150);
    grid-gap: 48px 35px;
}

.galery__items > div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid gray;
  text-align: center; 
  font-size: 48px;
}

.galery__items > div:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 6;
}

.galery__items > div:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-items: stretch;
}

.galery__items > div:nth-child(4) {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-items: stretch;

}

.galery__items > div:nth-child(5) {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
  width: 190;
  height: 150;
  justify-items: stretch;

}

.galery__items > div:nth-child(6) {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 6;
  justify-items: stretch;
}

.galery__items > div:nth-child(7) {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.galery__items > div:nth-child(8) {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
}

.galery__items > div:nth-child(9) {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.galery__items > div:nth-child(10) {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.galery__items > div:nth-child(11) {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 6;
}